---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import projects from "../data/projects.json";
import posts from "../data/posts.json";
---

<Layout title="Portfolio">
  <div class="min-h-screen p-6 max-w-4xl mx-auto">
    <Header />

    <main class="space-y-12">
      <section>
        <p class="text-sm leading-relaxed">
          Hi! I'm Hanif, a software engineer. I just love
        exploring new ideas technologies. Grit-driven software engineer with 2+ years of
          experience building scalable systems in web, ML, and DevOps. Passionate about solving high-impact problems.  Fastest way
          to reach me is via X, and then my email above;
        </p>
      </section>

      <section>
        <h2 class="text-xl text-gray-900 dark:text-white mb-4">Latest posts</h2>
        <div class="space-y-2">
          {
            posts.map((post) => (
              <div class="flex gap-4 text-sm">
                <span class="text-gray-500">{post.date}</span>
                <a
                  href="#"
                  class="hover:text-gray-900 dark:hover:text-white underline"
                >
                  {post.title}
                </a>
              </div>
            ))
          }
        </div>
        <a
          href="#"
          class="text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white block mt-4 underline"
        >
          View all articles →
        </a>
      </section>

      <section>
        <h2 class="text-xl text-gray-900 dark:text-white mb-4">
          Featured projects
        </h2>
        <div class="space-y-4">
          {
            projects.map((project) => (
              <div>
                <h3 class="text-gray-900 dark:text-white font-medium mb-1">
                  {project.name}
                </h3>
                <p class="text-sm text-gray-600 dark:text-gray-400">
                  {project.description}
                </p>
              </div>
            ))
          }
        </div>
        <a
          href="#"
          class="text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white block mt-4 underline"
        >
          View all projects →
        </a>
      </section>
    </main>

    <footer
      class="mt-16 pt-8 border-t border-gray-200 dark:border-gray-800 text-sm text-gray-500 text-center"
    >
      <p class="mb-2">
        © {new Date().getFullYear()} Hanif Adedotun. | All Rights Reserved.
      </p>
      <p>
        Source code is available at
        <a
          href="https://github.com/Hanif-adedotun/Portfolio-v2"
          class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
          >github.com/hanif-adedotun/Portfolio-v2</a
        >
      </p>
    </footer>
  </div>
</Layout>
